@model MvcWearIt.Models.Producto

@{
    ViewData["Title"] = "Cambiar imagen";
}

<h1>Cambiar imagen</h1>

<h4>Producto</h4>
<hr />

<div>
    @{
        var esUrl = Model.Imagen != null && (Model.Imagen.StartsWith("http://") || Model.Imagen.StartsWith("https://"));
    }
    @if (esUrl)
    {
        <img src="@Model.Imagen" height="250" width="250" style="object-fit:contain" />
    }
    else
    {
        var nombreImagen = Model.Imagen ?? "imagen-no-disponible.jpg";
        <img src="~/imagenes/@nombreImagen" height="250" width="250" style="object-fit:contain" asp-append-version="true" />
    }
</div>

<hr />

<form asp-action="CambiarImagen" asp-route-id="@Model.Id">
    <div class="form-group">
        <label class="control-label">URL de la imagen</label>
        <input type="text" name="imagenUrl" class="form-control" placeholder="https://ejemplo.com/imagen.jpg" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Actualizar imagen" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
    </div>
</form>
