@model MvcWearIt.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCadena" class="control-label"></label>
                <input asp-for="PrecioCadena" class="form-control" />
                <span asp-validation-for="PrecioCadena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <div>
                    @{
                        var nombreImagen = "imagen-no-disponible.jpg";
                        if (Model.Imagen != null)
                        {
                            nombreImagen = Model.Imagen;
                        }
                    }
                    <img src="~/imagenes/@nombreImagen" height="100" asp-append-version="true" />
                </div>
                <input type="file" name="imagen" class="form-control-file" />
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuegoId" class="control-label"></label>
                <select asp-for="JuegoId" class="form-control" asp-items="ViewBag.JuegoId"></select>
                <span asp-validation-for="JuegoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
